# Dependencies
node_modules/
.pnp
.pnp.js

# Hardhat
artifacts/
cache/
typechain/
typechain-types/
coverage/
coverage.json

# Ignition
ignition/deployments/

# Testing
/.nyc_output

# Production
/build
/dist
/out

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Foundry
cache/
broadcast/
lib/
!lib/forge-std

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Temporary files
/tmp/
